<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <link rel="stylesheet" href="../css/style.css">
  <!--g00gle f0nt-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <!--ic0ns-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="icon" href="../img/ic0n.png" type="image/x-icon">

  <title> TerrorFilms</title>
</head>

<body>
  <!-- Encabezado (Header) -->
  <header>
    <!--título de la página  -->
    <h1>
      <a href="../../index.html">TerrorFilms</a>
    </h1>
  </header>
  <!-- Navegación (Nav) -->
  <nav>
    <a href="../../index.html">Inicio</a>
    <a href="../rec0mendaci0nes.html" class="active">Recomendaciones</a>
    <a href="../views/estil0s de terr0r.html">Estilos de Terror</a>
    <a href="../views/pr0xim0s estren0s.html">Proximos estrenos de 2023</a>
    <a href="../views/c0ntact0.html">Contacto</a>
  </nav>


  <!--principal-->

  <main>

    <section>
      <h2>Recomendaciones de terror</h2>
      <hr>
      <div class="articles-container">

        <article>
          <a href="https://www.themoviedb.org/movie/138843-the-conjuring"><img src="../img/39.jpg"
              alt="Expediente Warren: The Conjuring"></a>
          <h3>Expediente Warren: El conjuro(2013)</h3>
          <p>Basada en una historia real documentada por los reputados demonólogos Ed y Lorraine Warren. Narra los
            encuentros sobrenaturales que vivió la familia Perron en su casa de Rhode Island a principios de los 70. El
            matrimonio Warren...</p>
          <a href="https://youtu.be/1kOlrEwTfco" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/259693-the-conjuring-2"><img src="../img/40.jpg"
              alt="Expediente Warren: El conjuro 2"></a>
          <h3>Expediente Warren: El conjuro 2 (2016)</h3>
          <p>Secuela de la exitosa 'Expediente Warren' (2013), que lleva de nuevo a la pantalla otro caso real de los
            expedientes de los renombrados demonólogos Ed y Lorraine Warren. En este caso ambos viajarán al norte de
            Londres para ayuda...</p>
          <a href="https://youtu.be/bynhxcPQRYA" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/514847-the-hunt"><img src="../img/41.jpg" alt="La caza"></a>
          <h3>La caza (2020)</h3>
          <p>Doce extraños se despiertan en el claro de un bosque con muchas preguntas sin respuesta. ¿Dónde están?
            ¿Cómo llegaron allí? ¿Y por qué o con qué propósito están ahí? La respuesta a todas esas preguntas es: La
            caza, un juego macabro...</p>
          <a href="https://youtu.be/R8AcWtwJM-g" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/109428-evil-dead"><img src="../img/42.jpg"
              alt="Posesión infernal"></a>
          <h3>Posesión infernal(2013)</h3>
          <p>Cinco amigos se alojan en una cabaña de Tenessee para así poder ayudar a una de los jóvenes, que se
            encuentra en rehabilitación por drogas. Estar sin sus drogas convierte a la chica en una persona agresiva,
            lo que llevará a sus amigos...</p>
          <a href="https://youtu.be/6BLOCqUIWGg" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/713704-evil-dead-rise"><img src="../img/43.jpg"
              alt="Posesión infernal: El despertar"></a>
          <h3>Posesión infernal: El despertar (2023)</h3>
          <p>Historia de dos hermanas separadas cuyo reencuentro se ve interrumpido por el surgimiento de demonios
            poseedores de carne, empujándolos a una batalla por la supervivencia mientras se enfrentan a la versión
            de...</p>
          <a href="https://youtu.be/xedWpltgifc" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/49018-insidious"><img src="../img/44.jpg" alt="Insidious"></a>
          <h3>Insidious (2010)</h3>
          <p>Josh, su esposa Reani y sus tres hijos acaban de mudarse a una vieja casa. Cuando el hijo pequeño sufra un
            accidente y caiga en coma, empezarán a producirse extraños fenómenos y la familia se verá acosada por algo
            que no parece de este...</p>
          <a href="https://www.youtube.com/watch?v=62rpZcMYa0A" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/91586-insidious-chapter-2"><img src="../img/45.jpg"
              alt="Insidious: Capítulo 2"></a>
          <h3>Insidious: Capítulo 2 (2013)</h3>
          <p>Josh y Renai Lambert se han mudado con sus hijos a la casa de Lorraine, la madre de Josh, esperando olvidar
            el pasado y comenzar una nueva vida. Pero pronto la familia empieza a experimentar extrañas visiones y...
          </p>
          <a href="https://www.youtube.com/watch?v=_yNqeg4xgOA" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/280092-insidious-chapter-3"><img src="../img/46.jpg"
              alt="insidu0s 3"></a>
          <h3>Insidious: Capítulo 3 (2015)</h3>
          <p>Elise Rainier acepta a regañadientes utilizar su capacidad de ponerse en contacto con los muertos a fin de
            ayudar a una adolescente que se ha convertido en el blanco de una peligrosa entidad sobrenatural...</p>
          <a href="https://www.youtube.com/watch?v=QK15n5I--8A" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/619778-malignant"><img src="../img/47.jpg" alt="Maligno"></a>
          <h3>Maligno (2021)</h3>
          <p>Madison es una mujer que tiene unas macabras pesadillas que la dejan completamente paralizada. Aterrada por
            lo que ve en ellas, Madison no consigue dormir por las noches ni vivir por el día. Pero el terror cada vez
            se irá apoderando...</p>
          <a href="https://youtu.be/MaarPZzuq_M" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/882598-smile"><img src="../img/48.jpg" alt="Smile"></a>
          <h3>Smile (2022)</h3>
          <p>Tras presenciar un extraño y traumático incidente con un paciente, la doctora Rose Cotter comienza a
            experimentar sucesos aterradores que no puede explicar. A medida que un miedo sobrecogedor comienza a
            afectar...</p>
          <a href="https://youtu.be/yhKiQGJop_8" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/760104-x"><img src="../img/49.jpg" alt="X "></a>
          <h3>X (2022)</h3>
          <p>En 1979, un grupo de jóvenes cineastas se propusieron hacer una película para adultos en la zona rural de
            Texas, pero cuando sus anfitriones solitarios y ancianos los atrapan en el acto, el elenco pronto se
            encuentra en una lucha desesperada por sus vidas...</p>
          <a href="https://www.youtube.com/watch?v=YHAL3XyDTaU" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/787752-fresh"><img src="../img/50.jpg" alt="Fresh"></a>
          <h3>Fresh (2022)</h3>
          <p>Thriller sobre los horrores de las citas modernas vistos a través de la desafiante batalla de una joven
            para sobrevivir a los inusuales apetitos de su nuevo novio...</p>
          <a href="https://youtu.be/wKk5VAK1GZQ" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/593643-the-menu"><img src="../img/51.jpg" alt="El menú"></a>
          <h3>El menú (2022)</h3>
          <p>Una joven pareja viaja a uno de los destinos más exclusivos del mundo para cenar en un restaurante que
            ofrece una experiencia culinaria única. Sin embargo, el chef ha preparado un ingrediente secreto que tendrá
            un resultado...</p>
          <a href="https://youtu.be/5X8Lu3Jj5D0" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/913290-barbarian"><img src="../img/52.jpg" alt="Barbarian"></a>
          <h3>Barbarian (2022)</h3>
          <p>Una joven que viaja a Detroit para una entrevista de trabajo alquila una casa para pasar la noche. Pero
            cuando llega a altas horas de la noche, descubre que la casa está doblemente reservada y que un hombre
            extraño ya se está quedando allí...</p>
          <a href="https://youtu.be/dQHXMMGeAZ4" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/762504-nope"><img src="../img/53.jpg" alt="¡Nop!"></a>
          <h3>¡Nop! (2022)</h3>
          <p>Los habitantes de un remoto pueblo del interior de California, entre los que se encuentran los propietarios
            de un rancho, James y Jill Haywood, realizan un descubrimiento tan insólito como estremecedor...</p>
          <a href="https://youtu.be/PFFV33DKR6Q" class="trailer-link">Ver Tráiler</a>

        </article>
        <article>

          <a href="https://www.themoviedb.org/movie/530385-midsommar"><img src="../img/54.jpg" alt="Midsommar"></a>
          <h3>Midsommar (2019)</h3>
          <p>Una pareja estadounidense que no está pasando por su mejor momento acude con unos amigos a un festival de
            verano que se celebra cada noventa años en una aldea remota de Suecia. Lo que comienza como unas vacaciones
            de...</p>
          <a href="https://youtu.be/3LPZ4agE75Y" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/476299-incident-in-a-ghost-land"><img src="../img/55.jpg"
              alt="Ghostland"></a>
          <h3>Ghostland (2018)</h3>
          <p>Una madre y sus dos hijos heredan una casa. Pero en su primera noche, aparecen unos asesinos y la madre se
            ve obligada a luchar para salvar a sus hijas...</p>
          <a href="https://youtu.be/Q8KqeolPt2w" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/667216-infinity-pool"><img src="../img/56.jpg"
              alt="Piscina infinita"></a>
          <h3>Piscina infinita (2023)</h3>
          <p>Mientras se hospedan en un resort aislado en una isla, James y Em disfrutan de unas vacaciones perfectas en
            playas vírgenes, un personal excepcional y tomando el sol. Pero guiados por la seductora y misteriosa Gabi,
            se aventuran fuera...</p>
          <a href="https://www.youtube.com/watch?v=PLzEumhcUig" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/420634-terrifier"><img src="../img/57.jpg" alt="Terrifier"></a>
          <h3>Terrifier (2018)</h3>
          <p>El payaso psicópata Art, aterroriza a dos chicas durante la noche de Halloween, matando a todos aquellos
            que se interponen en su camino...</p>
          <a href="https://youtu.be/8Q6fAAvCdKs" class="trailer-link">Ver Tráiler</a>

        </article>

        <article>
          <a href="https://www.themoviedb.org/movie/82507-sinister"><img src="../img/58.jpg" alt="Sinister"></a>
          <h3>Sinister (2012)</h3>
          <p>Un periodista viaja con su familia a lo largo y ancho del país para investigar terribles asesinatos que
            luego convierte en libros. Cuando llega a una casa donde ha tenido lugar el asesinato de una familia,
            encuentra una cinta que desvela horribles...</p>
          <a href="https://youtu.be/pUklYZdiycQ" class="trailer-link">Ver Tráiler</a>

        </article>



      </div>



    </section>

  </main>


  <!--aside-->

  <aside>
    <h3>Recomendaciones extras</h3>
    <a href="https://www.themoviedb.org/movie/310131-the-witch" target="_blank">
      <img src="../img/59.jpg" alt="the wich">
    </a>
    <a href="https://www.themoviedb.org/movie/493922-hereditary" target="_blank">
      <img src="../img/60.jpg" alt="hereditary">
    </a>
    <a href="https://www.themoviedb.org/movie/756999-the-black-phone" target="_blank">
      <img src="../img/61.jpg" alt="black ph0ne">
    </a>
  </aside>

  <!--f00ter-->
  <footer>
    <a href="../../index.html" class="home-link">TerrorFilms</a>
    <div class="footer-links">
      <a href="https://www.whatsapp.com/?lang=es_LA"><i class="bi bi-whatsapp"></i></a>
      <a href="https://www.youtube.com/?gl=AR&hl=es-419"><i class="bi bi-youtube"></i></a>
      <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
      <a href="../views/Mi page.html">Q-S</a>
    </div>

  </footer>


</body>

</html>